header{
    width: 100%;
    height:60px;
    position: fixed;
    background-color: black;
    top:0px;
    left:0px;
}

.amazon-logo{
    position:fixed;
    top:0px;
    left:0px;
}

.amazon-logo-img{
    height: 60px;
}

.search-bar{
    position:fixed;
    top:10px;
    left:120px;
    display: flexbox;
    width:1200px;
    align-items: center;
}

.search-bar-placeholder{
    width:500px;
    height: 36px;
    border:none;
    padding-left: 15px;
    position: relative;
}
