/*header start*/

header{
    height:63px;
    position: fixed;
    background-color: black;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top:0px;
    left:0px;
    right: 0;
    font-family: 'Roboto', Arial;
}

.amazon-logo{
    display: inline-block;
    background-color: black;
    padding: 0px;
    border-radius:0px;
    cursor:pointer;
    text-decoration: none;
    border:1px solid rgba(0,0,0,0);
    height: 60px;
}

.amazon-logo:hover{
    border:1px solid white;
    border-radius: 4px;
}

.amazon-logo-img{
    height: 60px;
    width: 60px;
}

.mid-section{
    display: flex;
    flex: 1;
    max-width: 850px;
    margin-left: 10px;
    margin-right:10px;
}

.search-bar{
    flex:1;
    width:0;
    font-size:16px;
    height: 38px;
    padding-left: 15px;
    border:none;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.search-logo{
    background-color: #FEBD69;
    width: 45px;
    height:40px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border:none;
    flex-shrink: 0;
}

.search-icon{
    position: relative;
    top:1.25px;
    right: 2px;
}

.return-policy{
    width: 68px;
    height:58px;
}

.return-policy:hover{
    border:1px solid white;
    border-radius: 8px; 
    width:70px;
}

.orders{
    color: white;
    font-size: 15px;
    font-family: 'Roboto', Arial;
    font-weight:bold;
    padding-left:5px;
}

.return{
    color: white;
    font-size: 14px;
    font-family: 'Roboto', Arial;
    font-weight:light;
    padding-top:10px;
    padding-left:5px;
}

.h-section-3{
    position: fixed;
    right:0px;
    top:0px;
}

.cart{
    color: white;
    position: inherit;
    top:10px;
    right:8px;
    font-size: 16px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    padding: 3px; 
}

.cart-icon{
    width: 34px;
}

.cart:hover{
    border: 1px solid white;
    border-radius: 4px;
}

/*header concluded*/

/*item grid start*/

.body-grid{
    display: grid;
    margin: 0;
} 

.item-slots{
    display: flex;
    flex-direction: column;
}
